# List / Array

In [39]:
# append()  : Adds element at the end of the list
# clear()   : Removes all the elements from the list
# copy()	: Returns a copy of the list
# count()	: Returns the number of elements with the specified value
# extend()  : Add the elements of a list (or any iterable), to the end of the current list
# index()   : Returns the index of the first element with the specified value
# insert()  : Adds an element at the specified position (index)
# pop()	    : Removes the element at the specified position (index)
# remove()  : Removes the first item with the specified value (item)
# reverse() : Reverses the order of the list
# sort()    : Sorts the list
# del[a:b]  : Delete element in list from index a to index b
# in        : check if the element is present in list 
# not in    : check if the element is not present in list 
# len()     : length, sizz=e or no of elements in list
# min()     : returns the minimum element of list
# max()     : returns the maximum element of list

In [44]:
# list  : mutable, can store different data type         lis = [1,2,'hello',3.0]
# array : mutable, can store similar data type           arr = [1,2,3]
# tuple : immutable, can store different data type       tup = ( 34, True, 4.0, "male")
# set   : mutable, not ordered/ slice/ duplicate         set = {1,2,3}

In [6]:
students = ['amartya','sahil','aryan','utkarsh','sachin','durgesh','david']

In [7]:
print(students[0])   #start from left : index start from 0
print(students[1])
print(students[4])
print(students[-1])  #start from right : index start from -1
print(students[-2])

amartya
sahil
sachin
david
durgesh

In [8]:
print(students[20])  # out of index

IndexError: list index out of range

In [25]:
# slicing : slice any part from list [start:end]
# length of string = no of characters in string
# length of list = no of elements in list

students = ['sam','pam','rocky','austin','steve','banner','tony',
            'bruce','henry','clark','diana']

student = "Barry"

In [20]:
# slice a particular range

marvel = students[4:7]   # 7th index doesn't counts
flash = student[1:3]     

print(marvel)
print(flash)

['steve', 'banner', 'tony']
ar

In [21]:
# slice from end

dc = students[7:]      #from index 7 to the end
flash = student[1:]

print(dc)
print(flash)

['bruce', 'henry', 'clark', 'diana']
arry

In [22]:
# slice from beigining

normal = students[:4]   #from index 0 to 3
flash = student[:3]

print(normal)
print(flash)

['sam', 'pam', 'rocky', 'austin']
Bar

In [26]:
# in = check wether the character is the string
# not in = check wether the character is not in the string

greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [27]:
# list is mutable = it can be changed

students = ['sam','pam','rocky','austin','steve','banner','tony',
            'bruce','henry','clark','diana']

students[2] = 'ben'
print(students)

['sam', 'pam', 'ben', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [29]:
#string is immutable = you cannot change a single character inside string

student = "Barry"
student[1] = 'e'       # it will give error
print(student)

TypeError: 'str' object does not support item assignment

In [30]:
# string is immutable, so to change string : make a copy

student = "Sahil"
character = student
print(character)

character = "Peter"
print(character)
print(student)

Sahil
Peter
Sahil

In [32]:
# lists are mutable

students = ['sam','pam','rocky','austin']

characters = students
print(characters)

characters[1] = "peter"  # changing the element with index 1
print(characters)
print(students)

['sam', 'pam', 'rocky', 'austin']
['sam', 'peter', 'rocky', 'austin']
['sam', 'peter', 'rocky', 'austin']

In [2]:
students = ['sam','pam','rocky','austin','steve','banner','tony',
            'bruce','henry','clark','diana']

In [3]:
len(students)      # length = no of elements in list

11

In [4]:
max(students)      # max = greatest element ( ASCII way ) in list

'tony'

In [5]:
min(students)      # min = smallest element ( ASCII way ) in list

'austin'

In [6]:
sorted(students)   # sort = ascending form in ASCII way in list

['austin',
 'banner',
 'bruce',
 'clark',
 'diana',
 'henry',
 'pam',
 'rocky',
 'sam',
 'steve',
 'tony']

In [7]:
student = "barry"
print(max(student))   # gratest character in string

y

In [8]:
word = ['aab','aaba']
max(word)

'aaba'

In [10]:
#sorting a list and diplay copy of it

characters = sorted(students)
print (characters)

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']

In [11]:
# join() = add any symbol or anything between each elements of list

sep_str = "-".join(["Jack","0","Lantern"])
print(sep_str)

Jack-0-Lantern

In [12]:
# append() = add element to list

letters = ['a','b','c','d']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

In [38]:
lis = [1, 4, 3, 2, 5]

if 4 in lis:
    print ("List is having element with value 4")      # checking in
else :  
    print ("List is not having element with value 4")

if 7 not in lis:
    print ("List is not having element with value 7")  # checking not in 
else :  
    print ("List is having element with value 7")

List is having element with value 4
List is not having element with value 7

In [42]:
lis = [2, 1, 3, 5, 4, 3, 8]
print ("List elements before deleting are : ",lis)

del lis[2 : 5]   # delete element from index 2 to 5
  
print ("List elements after deleting are : ",end="")  
for i in range(0, len(lis)):
    print(lis[i], end=" ")

List elements before deleting are :  [2, 1, 3, 5, 4, 3, 8]
List elements after deleting are : 2 1 3 8

# Tuples

In [13]:
# Tuples = immutable ordered sequence of elements
#        = used to store related piece of information
#        = but can't add, remove or sort elements

vector = (4, 5, 6)
print("x-cooridnate:", vector[0])
print("y-cooridnate:", vector[1])
print("z-cooridnate:", vector[2])

x-cooridnate: 4
y-cooridnate: 5
z-cooridnate: 6

In [14]:
location = 108.7774, 92.5556
latitude, longitude = location
print("The coordinates are {} x {}".format(latitude, longitude))

The coordinates are 108.7774 x 92.5556

In [16]:
# for loop

cities = ['New York','Chicago','Los Angeles','Mumbai']
for city in cities:
    print (city)
print("Done!")

New York
Chicago
Los Angeles
Mumbai
Done!

In [17]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

In [19]:
for i in range(1,10,2):  # start =1, end=10, step=2 
    print(i)

1
3
5
7
9

In [31]:
# length of tuple

tup1 = ("apple", "banana", "mango")
print(len(tup1))

3

In [24]:
tup2 = ("apple",)
print(type(tup2))

#NOT a tuple
tup3 = ("apple")
print(type(tup3))

<class 'tuple'>
<class 'str'>

In [30]:
# tuple can accept any data type

tup4 = ("abc", 34, True, 40, "male")
print (tup4)

('abc', 34, True, 40, 'male')

In [34]:
# tuple() method to make a tuple

tup5 = tuple(("apple", "banana", "mango")) # note: double round-brackets
print(tup5)

('apple', 'banana', 'mango')