In [1]:
#last value given will be displayed

2+7
2*7

14

In [2]:
print(2+7)
print(2*7)

9
14

In [3]:
print("Hello World")

Hello World

In [4]:
print("2*7")

2*7

In [5]:
month=12
print(month)

12

In [24]:
# if =+ will act as = only

month=12
month+=100 
print(month)

112

In [8]:
rent=1700
print(1700)

1700

In [9]:
a=3
b=a
print(a)

3

In [11]:
x=10
print(x)

10

In [13]:
height=3
length=6
width=2
volume=height*length*width
print(volume)

36

In [14]:
#shortcut

h,l,w=3,6,2 
v=h*l*w
print(v)

36

In [16]:
#python way use underscore instead of space

my_rent=100  
print(my_rent)

100

In [19]:
#addition and assignment

rent=100
rent=200
rent+=700
print(rent)

900

In [20]:
#float

print(3/2)

1.5

In [8]:
#define type of variable

a=3
b=2.5
print(type(a)) 
print(type(b))
print(type("75"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
#change type of variable

a=float(3)
b=int(28.9) 
print(a)
print(b)

3.0
28

In [25]:
#boolean

python_awesome = True 
documentation_bad = False

In [26]:
#boolean

a=3>1  
print(a)

True

In [27]:
a=3==1
print(a)

False

In [32]:
# true and true in OR gives true

rent=1200
is_affordable= rent>1000 and rent<2000 
print(is_affordable)

True

In [29]:
# true and true in OR gives true

rent=1200
is_affordable= not rent>1000 and rent<2000 
print(is_affordable)

False

In [30]:
print("Sahil") 
print('Sahil')

Sahil
Sahil

In [33]:
motto= "learn | code | intern"
print(motto)
type(motto)

learn | code | intern

str

In [38]:
dialogue= "Sahil said, you learn you grow"
print(dialogue)

Sahil said, you learn you grow

In [39]:
dialogue= "Sahil said, 'you learn you grow'"
print(dialogue)

Sahil said, 'you learn you grow'

In [6]:
dialogue= '"John you\'re bag is red"'
print(dialogue)

"John you're bag is red"

In [5]:
print("hello" + "world")   #append or add
print("hello" + " " + "world") #create space

helloworld
hello world

In [3]:
#print 5 times

word= "hello"
print(word*5)

hellohellohellohellohello

In [4]:
# / and - gives error

word_1= "hello"
word_2= "world"
print(word_1 / word_2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [7]:
#no of characters in string even space

word_length = len("hello")  
print(word_length)

5

In [13]:
#convert marks to str because all others are string

marks =15
subject ="coding"
semester ="first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester."
print(result)

I scored 15 in coding during my first semester.

In [15]:
#insert a digit as str and convert to float

marks ="15"
print(type(marks))

marks= float(marks)
print(marks)
print(type(marks))

<class 'str'>
15.0
<class 'float'>

In [19]:
#use of format()

# example 1
print("ex:1")
print("Sahil has {} balloons".format(27))

# example 2
print("ex:2")
animal = "dog"
action = "bites"
print("Does your {} {}?".format(animal,action))

# example 3
print("ex:3")
maria_string = "Maria loves {} and {}"
print(maria_string.format("football","badminton"))

ex:1
Sahil has 27 balloons
ex:2
Does your dog bites?
ex:3
Maria loves football and badminton